<% requests.each do |practice| %>
<ul class="thumbnails">
  <li class="span4-fluid">
    <div class="thumbnail">
      <div class="pull-left">
        <span class="badge">New Request</span>
<%= practice.id %></div> 
      <div class="pull-right">
        <div class="btn-group">
          <button class="btn">Edit</button>
          <button class="btn btn-danger">Cancel</button>
          <button class="btn btn-primary">Submit</button>
        </div>
      </div>
      <div class="clear: both;"></div>
    </div>
  </li>
</ul>
<% end %>
