// Place all the styles related to the requests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.window { 
  border:1px solid #346789;
  box-shadow: 2px 2px 19px #aaa;
  -o-box-shadow: 2px 2px 19px #aaa;
  -webkit-box-shadow: 2px 2px 19px #aaa;
  -moz-box-shadow: 2px 2px 19px #aaa;
  -moz-border-radius:0.5em;
  border-radius:0.5em;
  opacity:0.8;
  filter:alpha(opacity=80);
  width:6em;
  text-align:center;
  z-index:20; 
  background-color:#eeeeef;
  color:black;
  padding:0.5em;
  font-size:0.9em;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 5px;
  height: 5em; 
  float: left;
  vertical-align: middle;
}

.legend {
  border:1px solid #346789;
  box-shadow: 2px 2px 19px #aaa;
  -o-box-shadow: 2px 2px 19px #aaa;
  -webkit-box-shadow: 2px 2px 19px #aaa;
  -moz-box-shadow: 2px 2px 19px #aaa;
  -moz-border-radius:0.5em;
  border-radius:0.5em;
  opacity:0.8;
  filter:alpha(opacity=80);
  width:6em;
  text-align:center;
  z-index:20; 
  background-color:#eeeeef;
  color:black;
  padding:0.5em;
  font-size:0.9em;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 5px;
  height: 2em; 
  float: left;
  vertical-align: middle;
}

.window:hover {
  box-shadow: 2px 2px 19px #444;
  -o-box-shadow: 2px 2px 19px #444;
  -webkit-box-shadow: 2px 2px 19px #444;
  -moz-box-shadow: 2px 2px 19px #444;
  opacity:0.6;
  filter:alpha(opacity=60);
}

.vertical_icon
{
  margin-top: 40px;
  float: left;
  vertical-align: middle;
}

.horizontal_icon_last
{
  margin-left: 165px;
}

.horizontal_icon_first
{
  margin-left: 45px;
}

.solid_border
{
  border-style:solid;
}

.active { border:1px dotted green; }
.hover  { border:1px dotted red; }

.aLabel {
  background-color:white;
  padding:0.4em;
  font:12px sans-serif;
  color:#444;
  z-index:21;
  border:1px dotted gray;
  opacity:0.8;
  filter:alpha(opacity=80);
}

.background_table
{
  display: block;
  margin-top: 0px;
}

.brow_border
{
  border-right-style: dotted;
  border-left-style: dotted;
  height: 300px;
  width: 110px;
  float: left;
  color: grey;
  margin-top: 45px;
}

.brow
{
  height: 300px;
  width: 110px;
  float: left;
}

.title
{
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  padding-left: 115px;
}

.legend_title
{
  margin-top: 20px;
  font-size: 12px;
  font-weight: bold;
  line-height: 20px;
  padding-left: 143px;
}
.title2
{

  width: 6em;
  float: left;
  margin-left: 15px;
  text-align: center;
  font-size: .8em;
}

.spacer
{
  float: left;
  width: 3.4em;

}

.overlay
{
  position: absolute;
  margin-top: -10px;
  background-color:white;
  padding-top: 5px;
  padding-bottom: 10px;

  box-shadow: 2px 2px 19px #aaa;
  -o-box-shadow: 2px 2px 19px #aaa;
  -webkit-box-shadow: 2px 2px 19px #aaa;
  -moz-box-shadow: 2px 2px 19px #aaa;
  -moz-border-radius:0.5em;
  border-radius:0.5em;
  opacity:0.8;
  filter:alpha(opacity=80);

}

.current_status
{
  min-width: 370px !important;
}
.back_red
{
  background-color: red;
  color: white;
}
.back_orange 
{
  background-color: #FFD700;
}
.back_blue 
{
  background-color: blue;
  color: white;
}
.back_green 
{
  background-color: green !important;
}

.back_green 
{
  background-color: white;
}

.arrow_spacer {
  width: 15px;
}

.reduce_margins {
  margin-bottom: -10px !important;
}

.table td {
  padding-bottom: 0px !important;
}

.check_legend {
  padding: 8px;
}

div.controls > select.date {
  width: 80px !important;
}

.complaints_area {
  width: 317px !important;
}

.availability {
  background-color:white;
  box-shadow: 2px 2px 19px #aaa;
  -o-box-shadow: 2px 2px 19px #aaa;
  -webkit-box-shadow: 2px 2px 19px #aaa;
  -moz-box-shadow: 2px 2px 19px #aaa;
  -moz-border-radius:0.5em;
  border-radius:0.5em;
  opacity:0.8;
  filter:alpha(opacity=80);

}
